body{
  background-color: #F5ECDB;
}

nav {
  background-color: violet;
  display: flex;
  justify-content: space-between;
}

li{
  font-size: 30px;
  list-style: none;
}

h1{
  margin-right: 15%;
}

.flexbox{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}