body {
  background-color: #F5ECDB;
}

nav {
  background-color: violet;
  display: flex;
  justify-content: space-between;
}

li {
  font-size: 30px;
  list-style: none;
}

h1 {
  margin-right: 15%;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.flexbox {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.grid {
  display: grid;
  width: 100vw;
  /*height: 100vw;*/
  --cell-number: 10;
  --cell-size: 10vw;
  grid-template-columns: repeat(auto-fill, var(--cell-size));
  z-index: 1;
}

.grid__item {
  width: 100%;
  height: 100%;
  position: relative;
  /*overflow: hidden;*/
  height: var(--cell-size);
  /*outline: 1px solid rgba(0,0,0,0.87);*/
  background-repeat: no-repeat;
  background-size: cover;
}

.gridDisplay {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

img {
  width: 100%;
  height: 100%;
}

.displayPic{
  width: auto;
  height: 95vh;
  justify-self: center;
}

.title{
  font-size: 2rem;
  align-self: center;
  justify-self: auto;
  text-align: center;
}

.title2{
  font-size: 2rem;
  align-self: center;
  justify-self: auto;
  text-align: center;
}